body{
   background-color: peachpuff;
    font-family: "Helvetica", sans-serif;
}

h1{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
h{
    font-style: italic;
}
a{
    color: slateblue;
}
nav ul{
    background-color: sandybrown;
    border-style: solid;
    border-color:seashell;
    padding: 10px;
    border-width: 2px;
    border-radius: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline;
margin-right: 10px;
margin-left: 10px;
color: papayawhip;

}